@use 'sass:map';
@font-face {
    font-family: 'MostraNuova';
    src: url('./fonts/mostranuova5.woff2') format('woff2'), url('./fonts/mostranuova5.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'MostraNuova2';
    src: url('./fonts/mostranuova2.woff2') format('woff2'), url('./fonts/mostranuova2.woff') format('woff');
    font-display: swap;
}

$breakpoints: (
    xs: 400px,
    s: 550px,
    mobile: 767px,
    tablet: 1024px,
);

@mixin mq($key) {
    $size: map.get($breakpoints, $key);
    @media (max-width: $size) {
        @content;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'header';
@import 'home-hero';
@import 'home_competences';
@import 'home-realisations';
@import 'home-counter';
@import 'faq';
@import 'accordion';
@import 'realisations';
@import 'realisation';
@import 'contact';
@import 'footer';

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

// ::-webkit-scrollbar {
//     display: none;
// }

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
html {
    overflow-x: hidden;
}
body {
    --primary: #f2ad0d;
    --secondary: hsl(208deg 88% 7%);
    --text-color: #92b0ca;
    --text-color: hsl(273 11% 70% / 1);
    --text-font: 'MostraNuova', sans-serif;
    --title-font: 'MostraNuova2', sans-serif;
    font-family: var(--text-font);
    font-size: 19px;
    line-height: 1.5;
    color: var(--text-color);
    min-height: 100vh;
    min-height: 100dvh;
    background: linear-gradient(to bottom, var(--secondary), black) var(--secondary);
    // background-color: var(--secondary);
    background-attachment: fixed;
    // background-size: cover;
    position: relative;
    isolation: isolate;
    &:after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: black;
        opacity: 0.4;
        z-index: -1;
    }
}
ol {
    list-style: auto;
    padding: revert;
}
h1,
h2,
h3,
h4 {
    color: white;
    font-family: var(--title-font);
}
// h1 {
//     font-size: clamp(38px, 28px + 2vw, 50px);
//     line-height: 1;
//     margin-bottom: 2rem;
//     position: relative;
//     display: inline-block;
//     &:before,
//     &:after {
//         content: '';
//         position: absolute;
//         width: 100%;
//         left: 0;
//         height: 5px;
//         border-top: 1px solid var(--primary);
//         top: -5px;
//     }
//     &:after {
//         top: auto;
//         bottom: -5px;
//     }
// }
h1 {
    position: relative;
    margin: 0 auto;
    padding-block: 2rem;
    padding-left: 1rem;
    text-transform: uppercase;
    font-size: clamp(38px, 28px + 2vw, 50px);
    letter-spacing: 0.15rem;
    line-height: 1;
    text-transform: uppercase;
    // text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    display: inline-block;
    // background: linear-gradient(to right, #a855f7, #ec4899, #eab308, #ec4899, #a855f7, #ec4899, #eab308);
    background: linear-gradient(to right, var(--primary), white, var(--primary), white, var(--primary), white, var(--primary));
    background-size: 300% 300%;
    background-clip: text;
    color: transparent;
    animation: gradient 6s linear infinite;

    // span {
    //     /* Clip Background Image */
    //     background: url(bg-h1.png) repeat-y;
    //     -webkit-background-clip: text;
    //     background-clip: text;

    //     /* Animate Background Image */
    //     -webkit-text-fill-color: transparent;
    //     -webkit-animation: aitf 80s linear infinite;

    //     /* Activate hardware acceleration for smoother animations */
    //     -webkit-transform: translate3d(0, 0, 0);
    //     -webkit-backface-visibility: hidden;
    // }

    &:before {
        content: '';
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 10px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--primary);
    }
}

/* Animate Background Image */
// From mac
// .gradient-text {
//     // background: linear-gradient(to right, #a855f7, #ec4899, #eab308, #ec4899, #a855f7, #ec4899, #eab308);
//     background: linear-gradient(to right, var(--primary), white, var(--primary), white, var(--primary), white, var(--primary));
//     background-size: 300% 300%;
//     background-clip: text;
//     color: transparent;
//     animation: gradient 6s linear infinite;
// }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
h2 {
    font-size: clamp(30px, 25px + 2vw, 40px);
    line-height: 1.1;
    margin-bottom: 1.75rem;
}
h3 {
    font-size: clamp(25px, 20px + 2vw, 30px);
    line-height: 1.2;
    margin-bottom: 1rem;
}
h4 {
    font-size: clamp(21px, 15px + 1.5vw, 25px);
    line-height: 1.2;
    margin-bottom: 0.5rem;
}
p {
    margin-bottom: 1rem;
}
a {
    color: white;
    font-weight: 600;
    &:hover {
        color: var(--primary);
    }
}
.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 5px;

    span {
        display: flex;
        align-items: center;
        gap: 5px;
        a {
            font-weight: 300;
        }
        &.breadcrumb-item a {
            text-transform: capitalize;
        }
        &.active a {
            pointer-events: none;
            color: var(--text-color);
            font-size: 20px;
        }
    }
}

.chevron-down {
    margin-left: auto;
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}
