@use 'sass:map';
@font-face {
    font-family: 'MostraNuova';
    src: url('./fonts/mostranuova5.woff2') format('woff2'), url('./fonts/mostranuova5.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'MostraNuova2';
    src: url('./fonts/mostranuova2.woff2') format('woff2'), url('./fonts/mostranuova2.woff') format('woff');
    font-display: swap;
}

$breakpoints: (
    xs: 400px,
    s: 550px,
    mobile: 767px,
    tablet: 1024px,
);

@mixin mq($key) {
    $size: map.get($breakpoints, $key);
    @media (max-width: $size) {
        @content;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'header';
@import 'realisations';
@import 'home-hero';
@import 'home-realisations';
@import 'contact';

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    --primary: #f2ad0d;
    --secondary: hsl(208deg 88% 7%);
    --text-color: #92b0ca;
    --text-font: 'MostraNuova', sans-serif;
    --title-font: 'MostraNuova2', sans-serif;
    font-family: var(--text-font);
    font-size: 19px;
    color: var(--text-color);
    min-height: 100dvh;
    background: linear-gradient(to bottom, var(--secondary), black) var(--secondary);
    // background-color: var(--secondary);
}
h1,
h2,
h3 {
    color: white;
    font-family: var(--title-font);
}
// h1 {
//     font-size: clamp(38px, 28px + 2vw, 50px);
//     line-height: 1;
//     margin-bottom: 2rem;
//     position: relative;
//     display: inline-block;
//     &:before,
//     &:after {
//         content: '';
//         position: absolute;
//         width: 100%;
//         left: 0;
//         height: 5px;
//         border-top: 1px solid var(--primary);
//         top: -5px;
//     }
//     &:after {
//         top: auto;
//         bottom: -5px;
//     }
// }
h1 {
    text-transform: uppercase;
    display: inline-block;
    font-size: clamp(38px, 28px + 2vw, 50px);
    padding-block: 2rem;
    padding-left: 1rem;
    position: relative;

    span {
        letter-spacing: 0.15rem;
        display: block;
        margin: 0 auto;
        text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
        line-height: 1;

        /* Clip Background Image */
        background: url(bg-h1.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;

        /* Animate Background Image */
        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 80s linear infinite;

        /* Activate hardware acceleration for smoother animations */
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 10px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--primary);
    }
}

/* Animate Background Image */

@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
h2 {
    font-size: clamp(30px, 25px + 2vw, 40px);
    line-height: 1.1;
    margin-bottom: 1.75rem;
}
h3 {
    font-size: clamp(25px, 20px + 2vw, 30px);
    line-height: 1.2;
    margin-bottom: 1rem;
}
p {
    margin-bottom: 1rem;
}
a {
    color: white;
    font-weight: 600;
    &:hover {
        color: var(--primary);
    }
}
